/* general */

/*.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}*/

/* forms */

.form-validation-error {
    color: red;
}

label.validation-error {
    color: red;
    font-weight: normal;
    font-style: italic;
}

input.validation-error {
    border-color: red;
}

/* base.html */

#everything-else {
    padding-top: 70px;
}

.close {
    margin-top: -2px;
}

#dob-picker {
    background-color: white;
}

#reg-to-login-msg {
    text-align: left;
}

/* home.html */

#homepage-title {
    text-align: center;
    font-size: 2em;
}

#homepage-image {
    text-align: center;
}

/* log.html */

#log-owner-name {
    text-align: center;
    font-size: 2em;
}

#log-HOCR-counter {
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
}

#log-buttons {
    text-align: center;
}

#log-table-title {
    text-align: center;
    font-size: 1.25em;
}

#log-table-col-titles {
    background-color: #E5E5FF;
}

.hidden-modal-data {
    display: none;
}

.caw-piece-table {
    width: 100%;
    table-layout: fixed;
}

/* make the inputs fit in their cells */
.caw-piece-table input {
    width: 100%;
    border-bottom: 1px black;
    border-style: none none solid none;
}

th.caw-ordinal {
    width: 7%;
}

.caw-zone {
    width: 7%;
}

.caw-dist-time {
    width: 13%;
}

.caw-rest {
    width: 7%;
}

.caw-splits {
    width: 15%;
}

.caw-notes {
    width: 44%;
}

.caw-delete {
    width: 7%;
}

input.caw-ordinal {
    text-align: center;
    border: none;
}

input.caw-dist-time {
    text-align: right;
}

.caw-split-td {
    position: relative;
}

input.caw-split-length {
    text-align: right;
    position: absolute;
    right: 8px;
    width: 70%;
}

input.caw-split-bool {
    width: initial;
    position: absolute;
    left: 10px;
    top: 10px;
}

.caw-table-footer {
    text-align: center;
}

.caw-repeat-row {
    border-top: 2px;
}

input.caw-repeat {
    width: 3%;
    text-align: center;
}

.caw-repeat-go-button {
    margin-left: 5px;
}

.table > tfoot > tr > td.caw-table-buttons {
    border-top: none;
    padding-top: 15px;
}

.ar-workout-choice {
    width: 80%;
    display: inline-block;
    margin-right: 18px;
}


