/* general */

/* forms */

.form-validation-error {
    color: red;
}

label.validation-error {
    color: red;
    font-weight: normal;
    font-style: italic;
}

input.validation-error {
    border-color: red;
}

/* base.html */

#dob-picker {
    background-color: white;
}

#reg-to-login-msg {
    text-align: left;
}

/* home.html */

#homepage-title {
    text-align: center;
    font-size: 2em;
}

#homepage-image {
    text-align: center;
}

/* log.html */

#log-owner-name {
    text-align: center;
    font-size: 2em;
}

#log-HOCR-counter {
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
}

#log-table-title {
    text-align: center;
    font-size: 1.25em;
}

#log-table-col-titles {
    background-color: #E5E5FF;
}

.hidden-modal-data {
    display: none;
}
