{% extends "base.html" %}


{% block title_text %}
    Welcome to MPNAN!
{% endblock %}


{% block body %}
    <!-- <div class="row">
        <div class="col-xs-12" id="homepage-title">
            My Project Needs a Name!
        </div>
        <div class="col-xs-12" id="homepage-image">
            <img src="static/img/erging-won't-kill-you.jpg">
        </div>
    </div> -->
    <div id="homepage-body" class="row">
        <img id="homepage-bg-img" src="../../static/img/background-home-full.jpg">
    </div>
{% endblock %}
