{% extends "base.html" %}


{% block page_specific_script_tag %}
    <script src="/static/js/log-page.js"></script>
{% endblock %}


{% block title_text %}
    {{user.firstname}}'s Log
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-xs-12" id="log-owner-name">
            {{user.firstname}} {{user.lastname}}
        </div>
        <div class="col-xs-12" id="log-HOCR-counter">
            {% if (days_til_HOCR == -1 )or (days_til_HOCR == 0) %}
                Merry Charlesmas!
            {% else %}
                Only {{ days_til_HOCR }} days until Head of the Charles!
            {% endif %}
        </div>
        <div class="col-xs-12" id="log-controllers">
            {# TODO MAKE BUTTONS TO ADD WORKOUT, ETC #}
            Useful stuff here (date range pickers, buttons, etc)
        </div>

        <!-- RECENT WORKOUTS TABLE -->
        <div class="col-xs-12 col-md-10 col-md-offset-1" id="log-data-table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th id="log-table-title" colspan="5">Recent Workouts</th>
                    </tr>
                    <tr id="log-table-col-titles">
                        <th>Date <i>(click for workout details)</i></th>
                        <th>Description</th>
                        <th>Total Distance</th>
                        <th colspan="2">Click Here to...</th>
                    </tr>
                </thead>
                <tbody>
                    {# display each workout as a row in the table #}
                    {% for workout in workouts%}
                        <tr>
                            <td>
                                <a href="#workout-details-modal" data-toggle="modal" data-workout-id={{ workout.workout_result_id }}>
                                    {{workout.date | date_filter }}</td>
                                </a>
                            <td>{{workout.workout_template.description}}</td>
                            <td>{{workout.total_meters}} m</td>
                            <td><a href="">Edit</a></td>
                            <td><a href="">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> <!-- end of recent workouts table -->

            <!-- WORKOUT DETAILS MODAL -->
            <div class="modal fade" id="workout-details-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                &times;
                            </button>
                            <h4 class="modal-title">
                                Workout Details
                            </h4>
                            <!-- <span class="hidden-modal-data">
                                <input id="workout-details-workout-id" type="text" readonly>
                            </span> -->
                        </div> <!-- end of modal header -->

                        <div class="modal-body">
                            {# {{ my_thing["special_stuff"] }} #}
                        </div> <!-- end of modal body -->

                        <div class="modal-footer">
                            
                        </div> <!-- end of modal footer -->

                    </div> <!-- end of modal content -->
                </div>
            </div> <!-- end of logout modal -->

        </div>
    </div>
{% endblock %}
