{% extends "base.html" %}


{% block page_specific_script_tag %}
    <script src="/static/js/log-page.js"></script>
{% endblock %}


{% block title_text %}
    {{user.firstname}}'s Log
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-xs-12" id="log-owner-name">
            {{user.firstname}} {{user.lastname}}
        </div>
        <div class="col-xs-12" id="log-HOCR-counter">
            {% if (days_til_HOCR == -1 )or (days_til_HOCR == 0) %}
                Merry Charlesmas!
            {% else %}
                Only {{ days_til_HOCR }} days until Head of the Charles!
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <span id="log-buttons" class="center-block">
                <button type="button" class="btn btn-default" data-toggle="modal" data-keyboard="false" href="#create-a-workout-modal">
                    Create a Workout
                </button>
                <button type="button" class="btn btn-default" data-toggle="modal" href="#add-results-modal">
                    Add Results to a Workout
                </button>
            </span>
        </div>
    </div>
    <div class="row">
        <!-- RECENT WORKOUTS TABLE -->
        <div id="recent-workouts-table" class="col-xs-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th id="log-table-title" colspan="5">Recent Workouts</th>
                    </tr>
                    <tr id="log-table-col-titles">
                        <th>Date <i>(click for workout details)</i></th>
                        <th>Description</th>
                        <th>Total Distance</th>
                        <th colspan="2">Click Here to...</th>
                    </tr>
                </thead>
                <tbody>
                    {# display each workout as a row in the table #}
                    {% for workout in workouts%}
                        <tr>
                            <td>
                                <a href="#workout-details-modal" data-toggle="modal" data-workout-id={{ workout.workout_result_id }}>
                                    {{workout.date | date_filter }}</td>
                                </a>
                            <td>{{workout.workout_template.description}}</td>
                            <td>{{workout.total_meters}} m</td>
                            <!-- TODO PROGRAM EDIT AND DELETE -->
                            <td><a href="">Edit</a></td>
                            <td><a href="">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> <!-- end recent workouts table -->
    </div>

    <!-- MODALS -->
    <div class="row">
        <!-- CREATE-A-WORKOUT MODAL -->
        <div class="modal fade" id="create-a-workout-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h1 class="modal-title">
                            Create a Workout
                        </h1>
                        <p>
                            Please fill out the form below. Required fields are marked with a *. When you're done, you can either save the workout and fill in your results later, or proceed directly to results entry.
                        </p>
                    </div> <!-- end of modal header -->

                    <div class="modal-body">
                        <form id="create-a-workout-form" class="form-horizontal" role="form" action="/create-workout" method="POST" data-next-piece-num="1">
                            <div id="caw-overall-description">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Describe the workout</h3>
                                        <h4>
                                            <small>
                                                Enter descriptive details of the workout here. These are just for you, and are all optional, except for the overall description.
                                            </small>
                                        </h4>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 text-right">
                                        <label for="workout-description" class="control-label">
                                            Overall description (*)
                                        </label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="workout-description">
                                    </div>
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <p class="help-block text-muted">
                                            Make this short enough to fit on one line but specific enough to uniqely identify the workout
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 text-right">
                                        <label for="primary-zone" class="control-label">
                                            Primary zone
                                        </label>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="primary-zone" placeholder="Zone">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 text-right">
                                        <label class="control-label">
                                            Warmup
                                        </label>
                                    </div>
                                    <div class="col-sm-10">
                                        <label for="warmup-format" hidden>
                                            Warmup Format
                                        </label>
                                        <input type="text" class="form-control" id="warmup-format" placeholder="Format">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <label for="warmup-sr" hidden>
                                            Warmup stroke rates
                                        </label>
                                        <input type="text" class="form-control" id="warmup-sr" placeholder="Stroke rates">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <label for="warmup-notes" hidden>
                                            Warmup notes
                                        </label>
                                        <input type="text" class="form-control" id="warmup-notes" placeholder="Notes">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 text-right">
                                        <label class="control-label">
                                            Main workout
                                        </label>
                                    </div>
                                    <div class="col-sm-10">
                                        <label for="main-format" hidden>
                                            Main workout format
                                        </label>
                                        <input type="text" class="form-control" id="main-format" placeholder="Format">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <label for="main-sr" hidden>
                                            Main workout stroke rates
                                        </label>
                                        <input type="text" class="form-control" id="main-sr" placeholder="Stroke rates">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <label for="main-notes" hidden>
                                            Main workout notes
                                        </label>
                                        <input type="text" class="form-control" id="main-notes" placeholder="Notes">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 text-right">
                                        <label class="control-label">
                                            Cooldown
                                        </label>
                                    </div>
                                    <div class="col-sm-10">
                                        <label for="cooldown-format" hidden>
                                            Cooldown
                                        </label>
                                        <input type="text" class="form-control" id="cooldown-format" placeholder="Format">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <label for="cooldown-sr" hidden>
                                            Cooldown stroke rates
                                        </label>
                                        <input type="text" class="form-control" id="cooldown-sr" placeholder="Stroke rates">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <label for="cooldown-notes" hidden>
                                            Cooldown notes
                                        </label>
                                        <input type="text" class="form-control" id="cooldown-notes" placeholder="Notes">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2 text-right">
                                        <button type="submit" class="btn btn-default">
                                            Next
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div id="caw-warmup">
                                <table id="caw-table-warmup" class="table table-condensed caw-piece-table" data-phase="warmup"data-pieces-in-phase="0">
                                    <thead hidden>
                                        <tr id="caw-wu-table-head">
                                            <th id="caw-wu-col-ordinal" class="caw-ordinal">
                                                Piece #
                                            </th>
                                            <th id="caw-wu-col-zone" class="caw-zone">
                                                Zone
                                            </th>
                                            <th id="caw-wu-col-dist-time" class="caw-dist-time">
                                                Distance/Time
                                            </th>
                                            <th id="caw-wu-col-rest" class="caw-rest">
                                                Rest
                                            </th>
                                            <th id="caw-wu-col-splits" class="caw-splits">
                                                Splits? (length)
                                            </th>
                                            <th id="caw-wu-col-notes" class="caw-notes">
                                                Notes
                                            </th>
                                            <th id="caw-wu-col-delete" class="caw-delete">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="caw-wu-inputs-piece-x" hidden>
                                            <!-- hidden info fields -->
                                            <td hidden>
                                                <!-- piece phase -->
                                                <input id="caw-phase-piece-x" type="text" aria-label="phase-piece-x" name="phase-piece-x" value="" readonly>
                                            </td>
                                            <td hidden>
                                                <!-- piece type -->
                                                <input id="caw-type-piece-x" type="text" name="type-piece-x" aria-label="type-piece-x" value="" readonly>
                                            </td>
                                            <!-- input fields for piece x -->
                                            <td>
                                                <!-- piece ordinal -->
                                                <input id="caw-ordinal-piece-x" class="caw-ordinal" type="text" aria-label="ordinal-piece-x" name="ordinal-piece-x" value="" onfocus="this.blur()" readonly>
                                            </td>
                                            <td>
                                                <!-- piece zone -->
                                                <input id="caw-zone-piece-x" type="text" aria-label="zone-piece-x" name="zone-piece-x">
                                            </td>
                                            <td id="caw-dist-td-piece-x" hidden>
                                                <!-- piece distance -->
                                                <input id="caw-dist-piece-x" class="caw-dist-time" type="text" aria-label="dist-piece-x" name="dist-piece-x" placeholder="m">
                                            </td>
                                            <td>
                                                <!-- piece time -->
                                                <input id="caw-time-piece-x" class="caw-dist-time" type="text" aria-label="time-piece-x" name="time-piece-x" placeholder="h:m:s">
                                            </td>
                                            <td>
                                                <!-- piece rest -->
                                                <input id="caw-rest-piece-x" type="text" aria-label="rest-piece-x" name="rest-piece-x">
                                            </td>
                                            <td class="caw-split-td">
                                                <!-- piece splits -->
                                                <input id="caw-split-length-piece-x" class="caw-split-length" aria-label="split-length-piece-x" type="text" name="split-length-piece-x" hidden>
                                                <input id="caw-split-bool-piece-x" class="caw-split-bool" aria-label="splits-desired-piece-x" type="checkbox" name="split-bool-piece-x" data-piece-num="x">
                                            </td>
                                            <td>
                                                <!-- piece notes -->
                                                <input id="caw-notes-piece-x" type="text" aria-label="notes-piece-x" name="notes-piece-x">
                                            </td>
                                            <td>
                                                <!-- piece delete button -->
                                                <a class="caw-delete-piece-link" href="#" data-piece-num="">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot >
                                        <tr class="caw-footer-repeat" hidden>
                                            <td colspan="9">
                                                <span class="caw-table-footer center-block">
                                                    Repeat pieces
                                                    <input id="caw-repeat-start-piece" class="caw-repeat" type="text">
                                                    through
                                                    <input id="caw-repeat-end-piece" class="caw-repeat" type="text">
                                                    ,
                                                    <input id="caw-repeat-num-times" class="caw-repeat" type="text">
                                                    times
                                                    <button id="caw-repeat-go" type="button" class="btn btn-default btn-sm caw-repeat-go-button">
                                                        Go
                                                    </button>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="9">
                                                <span class="caw-table-footer center-block">
                                                    <button type="button" class="btn btn-default btn-sm caw-add-piece-button" data-piece-type="time">
                                                        Add a time-based piece
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-sm caw-add-piece-button" data-piece-type="distance">
                                                        Add a distance-based piece
                                                    </button>
                                                </span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </form>
                    </div> <!-- end of modal body -->

                    <div class="modal-footer">

                    </div> <!-- end of modal footer -->

                </div> <!-- end of modal content -->
            </div>
        </div> <!-- END OF CREATE A WORKOUT MODAL -->

        <!-- ADD RESULTS MODAL -->
        <div class="modal fade" id="add-results-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            Create a Workout
                        </h4>
                    </div> <!-- end of modal header -->

                    <div class="modal-body">

                    </div> <!-- end of modal body -->

                    <div class="modal-footer">

                    </div> <!-- end of modal footer -->

                </div> <!-- end of modal content -->
            </div>
        </div> <!-- END OF ADD RESULTS MODAL -->

        <!-- WORKOUT DETAILS MODAL -->
        <div class="modal fade" id="workout-details-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            Workout Details
                        </h4>
                        <!-- <span class="hidden-modal-data">
                            <input id="workout-details-workout-id" type="text" readonly>
                        </span> -->
                    </div> <!-- end of modal header -->

                    <div class="modal-body">
                        {# {{ my_thing["special_stuff"] }} #}
                    </div> <!-- end of modal body -->

                    <div class="modal-footer">

                    </div> <!-- end of modal footer -->

                </div> <!-- end of modal content -->
            </div>
        </div> <!-- END OF WORKOUT DETAILS MODAL -->
    </div>

{% endblock %}
